body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #f4f4f4, #007BFF);
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #777;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #007BFF;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding: 10px 0;
}